ul, ol {
    height: 100%;
    list-style-position: inside;
    margin-bottom: 0px;
    padding: 0px;

    background-color: lightgrey;
}

li {
    padding: 10px 5px;
}

li.is-hovered {
    background-image: linear-gradient(white, lightgrey);
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

ol > li.list-group-item {
    display: list-item;
}

.row:last-child {
    margin: 15px 0 20px 0;
}

button[type="submit"] {
    line-height: 2.5;
    min-width: 25%;
}

.jumbotron {
    padding: 2rem;
}
